{% extends 'base.html' %} {% block content %}

<div class="container">
  <form id="url-form" action="{% url 'shorten' %}" method="post">
    {% csrf_token %}
    <input id="url-input" type="text" name="user_url" placeholder="input url to shorten..." required
      pattern="https?://.+" oninvalid="this.setCustomValidity('url must begin with http or https')"
      oninput="this.setCustomValidity('')" />
    <input id="url-button" type="submit" value="shorten url" />
  </form>
  <a id="list-links" href="{% url 'list' %}">view shortened urls</a>
  <a id="random-link" href="{% url 'random' %}">please don't be porn...</a>
  {% for message in messages %}
  <div id="hash-display">
    <a href="http://localhost:8000/{{ message.message }}" target="blank">http://localhost:8000/{{ message.message }}</a>
  </div>
  {% empty %}
  <div id="hash-display"></div>
  {% endfor %}
</div>
{% endblock %}