.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.task-input-container {
    display: flex;
    width: 30%;
    flex-direction: column;
    margin-top: 50px;
}